@import url(http://fonts.googleapis.com/css?family=Crete+Round|Pontano+Sans);

html, body {
  height: 100%;
  margin: 0;
  padding: 0;

  min-width: 650px;

  font-family: 'Pontano Sans', sans-serif;

  background: #1d1d1d;
}

#banner{
	position: absolute;
	height: 15%;
	width: 100%;
	background-color: black;
}
h3{
	color: white;
}

/* Map */
#map { 
  position:absolute;
  top: 15%;
  bottom: 0;
  width:100%; 
}
/* End Map */
