module.exports = {
  twitter: {
    consumer_key: '',
    consumer_secret: '',
    token_key: '',
    token_secret: ''
  },
  foursquare: {
    secrets: {
      clientId: '',
      clientSecret: '',
      redirectUrl: 'http://sm.rutgers.edu'
    }
  },
  wunderground: {
    key: ''
  }
};
